:host {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
