<header>
  <label for="fileInput">Archivo .csv con ID's </label>

  <input (change)="readFile($event)" type="file" id="fileInput" accept=".csv" />

  <label for="convertFileInput">Convertir a CSV</label>

  <textarea #toCsvData id="convertFileInput"></textarea>

  <button (click)="toCsv(toCsvData.value)">Convertir</button>

  <button
    [class.visible]="showDownloadCsvButton()"
    class="hidden"
    (click)="downloadCsv()"
  >
    <a #downloadCsvLink class="hidden"></a>
    Descargar .csv
  </button>

  <label for="pmid">PMID</label>
  <input #pmidInput id="pmid" />
  <button matButton (click)="searchPmid(pmidInput.value)">Buscar</button>
</header>
