<!-- <label>PMID</label>
<input #pmidInput />
<button (click)="search(pmidInput.value)">Buscar</button>
<div>
  <p>Respuesta</p>
  <p [innerHTML]="response()"></p>
</div> -->
<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav-content>
    <button class="toggle-btn" matFab (click)="sideNav.toggle()">
      <mat-icon fontSet="material-icons-round">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #sideNav>
    <button matButton="elevated" routerLink="pubmed">Utilidades PubMed</button>
  </mat-sidenav>
</mat-sidenav-container>
