<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav-content>
    <button class="toggle-btn" matFab (click)="sideNav.toggle()">
      <mat-icon fontSet="material-icons-round">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #sideNav>
    <div class="sidebar-container">
      <div class="sidebar-options">
        <button matButton="elevated" routerLink="">
          <mat-icon
            [style]="'width: fit-content; height: fit-content; font-size: 28px;margin:0;'"
            >home</mat-icon
          >
        </button>
        <button matButton="elevated" routerLink="articles">Artículos</button>
      </div>
      <div class="sidebar-profile"><app-profile-menu-component /></div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
