<div class="menu-container">
  <div class="menu-option">
    <h1>Lista PubMed</h1>
    <p>Ver artículos importados de PubMed, consultas, metricas, etc.</p>
    <button matButton="elevated" routerLink="pubmed">Ver más</button>
  </div>
  <div class="menu-option">
    <h1>Base de pedidos</h1>
    <p>Ver artículos solicitados a la biblioteca, consultas, metricas, etc.</p>
    <button matButton="elevated" routerLink="orders">Ver más</button>
  </div>
  <div class="menu-option">
    <mat-icon
      [style]="'display: flex; flex-grow: 1; width: 100%; justify-content: center; align-items: center; font-size: 70px;'"
      fontSet="material-icons-round"
      >add</mat-icon
    >
  </div>
</div>
